.Yoast
  div[class*='Icon-']
    font-size 36px
    margin 0
    width 1em
    height 1em
    align-items center
    display flex
  div[data-open='false']
    div[class*='Icon-']
      transform rotate(45deg)